/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end of Eric Meyer reset code */

/* Fonts */

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue.eot');
    src: url('../fonts/bebasneue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue.woff') format('woff'),
         url('../fonts/bebasneue.ttf') format('truetype'),
         url('../fonts/bebasneue.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular.eot');
    src: url('../fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular.woff') format('woff'),
         url('../fonts/robotocondensed-regular.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/robotocondensed-bold.eot');
    src: url('../fonts/robotocondensed-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-bold.woff') format('woff'),
         url('../fonts/robotocondensed-bold.ttf') format('truetype'),
         url('../fonts/robotocondensed-bold.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_mono_otregular';
    src: url('../fonts/firamonoot-regular.eot');
    src: url('../fonts/firamonoot-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firamonoot-regular.woff') format('woff'),
         url('../fonts/firamonoot-regular.ttf') format('truetype'),
         url('../fonts/firamonoot-regular.svg#fira_mono_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.listNames {
  font-family: 'bebas_neueregular';
  font-size: 24px;
}

/* Navbar */

#barLogo {
    height: 30%;
    width: 30%;
    margin-top: -20px;
    margin-bottom: -20px;
}

.navbar-right li a {
    line-height: 50px;
    font-family: 'bebas_neueregular';
    font-size: 30px;
}

.navbar {
    background-color: #000000;
}

.dropdown-text li a {
  font-size: 20px;
}

/* Carousel slider */

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 520px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
.coverPhoto {
    height: 50%;
}

#myCarousel {
    margin-top: -30px;
}

.carousel-caption h1 {
  font: 48px 'roboto_condensedbold', Sans-Serif;
}

.lead {
  font-style: italic;
  font-size: 20px;
  font-family: 'roboto_condensedregular', Sans-Serif;
}

.carousel-caption h3 {
  font: 28px 'roboto_condensedbold', Sans-Serif;
}

.carousel-caption p {
  font: 20px 'roboto_condensedregular', Sans-Serif;
  letter-spacing: 0.5px;
}

.imageSm .play {
  display: none;
  background: url('../img/play-arrow2.png') center center no-repeat;
  height: 200px; 
  width: 100%;
  margin-top: -210px;
  margin-left: 10px;
  position: relative; 
  z-index: 100; 
  opacity: 0.6;
}

.imageSm:hover .play {
  display: block;
}

/* Smaller episode icons */

.episodeList {
    margin-top: 46px;
    margin-bottom: 200px;
}

.listNames {
    margin-bottom: 20px;
}

/* Text over episode thumbnails */

.imageLg, .imageSm {
  position: relative;
  width: 100%; /* for IE 6 */
}

.imageLg img {
  width: 100%;
}

.imageSm img {
  width: 32%;
}

.imageLg h2 {
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  color: #fff;
}

.imageLg span:first-of-type {
  font-family: 'roboto_condensedbold', Sans-Serif;
  letter-spacing: 0px;
  color: #27ae60;
  font-size: 28px;
  font-weight: bold;
}

.imageLg span {
  float: left;
  clear: left;
  color: white;
  font:  24px/45px 'roboto_condensedregular', Sans-Serif;
  letter-spacing: 0.5px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 10px;
}

.imageSm h2 {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  color: #fff;
}

.imageSm span:first-of-type {
  font-family: 'roboto_condensedbold', Sans-Serif;
  letter-spacing: 0px;
  color: #27ae60;
  font-size: 20px;
  font-weight: bold;
}

.imageSm span {
  float: left;
  clear: left;
  color: white;
  font:  16px/25px 'roboto_condensedregular', Sans-Serif;
  letter-spacing: 0.5px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 10px;
}

.imageSmlst h2 {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  color: #fff;
}

.imageSmlst span:first-of-type {
  font-size: 18px;
  letter-spacing: 0px;
}

.imageSmlst span {
  font:  14px/24px 'roboto_condensedregular', Sans-Serif;
  letter-spacing: 0.5px;
}

/* Tables for smaller episode thumbnails */

.epiTable {
    margin-bottom: 50px;
}

.epiTable tr {
    line-height: 60px;
}

.epiTable td {
    width: 280px;
}

.epiTable img {
  width: 100%;
  vertical-align: center;
}

#featured {
  margin-bottom: 22px;
}

.tonight_schedule h1 {
  font-size: 46px;
}

.tonight_schedule h3, .show_name {
  font: 20px 'roboto_condensedbold', Sans-Serif;
}

.tonight_schedule p {
  font: 20px 'roboto_condensedregular', Sans-Serif;
}

.border_line {
  border-top: 2px solid #27ae60;
}

/* Photo Galleries */

.gallery {
  margin-bottom: -50px;
}

.gallery tr {
  line-height: 60px;
}

.gallery td {
  width: 100px;
}

.gallery img {
  width: 100%;
}

/* Footer */

footer {
  color: #999;
  background: #000000;
  padding: 17px 0 20px 0;
  border-top: 1px solid #000;
        }

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
        }

footer h4 {
  font: 20px 'roboto_condensedbold', Sans-Serif;
  color: #27ae60;
}

footer li {
  font: 15px 'roboto_condensedregular', Sans-Serif;
  letter-spacing: 0.5px;
}

footer .shows_two {
  padding-top: 26px;
}

footer .container {
  padding-bottom: 30px;
}

/* Adds fade effect to Bootstrap Carousel */

.carousel.carousel-fade .item {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}
.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

/* Small thumbnails carousel */
.smCarousel a.left.carousel-control {
  background: none;
  width: 1%;
  color: black;
  margin-top: 64%;
  margin-left: 42%;
}

.smCarousel a.right.carousel-control {
  background: none;
  width: 1%;
  color: black;
  margin-top: 64%;
  margin-right: 42%;
}

